*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 236, 236);
}
.container{
    width: 80%;
    min-height: 100vh;
    margin: auto;
    background-color: white;
}
input{
    padding: 25px;
    outline: none;
    border: 1px solid rgb(230, 230, 230);
    width: 80%;
    box-sizing: border-box;
    font: 100 1.2rem "Lucida Sans";
}
button{
    padding: 25px;
    font: 100 1.2rem "Lucida Sans";
    border: 1px solid rgb(230, 230, 230);
    outline: none;
    color: #fff;
    cursor: pointer;
    width: 19%;
    transition: 0.3s;
    background-color: rgb(37, 37, 37);
}
button:hover{
    background-color: rgb(4, 4, 4);
}
.tag{
    background-color: darkred;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    border-radius: 5px;
    transform: all 0.5s;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tag:hover{
    transform: translateY(-10px);
}